name: tests

on:
  push:
    branches:
    - master
    - develop
  pull_request:
    branches:
    - master
    - develop

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    
    - name: Install Statter
      run: go install github.com/wtsi-hgi/statter@latest

    - name: Run tests
      run: make test

    - name: Run tests with race detection
      run: make race
